<!DOCTYPE html>
<html>
   <body>
   
      <h3>Crop price</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "cropname">Crop name.. sample:			cowpeaveg</label><br>
         <input type = "text" name = "cropname" placeholder = "cropname" /><br>
   

         <input type = "submit" value = "Submit" />
      </form>
      
   </body>
</html>
